<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ksh.beam.system.dao.MeetingListMapper">

    <resultMap type="com.ksh.beam.system.entity.meeting.MeetingList" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="meetingTime" column="meeting_time"/>
        <result property="hospitalName" column="hospital_name"/>
        <result property="city" column="city"/>
        <result property="courseware" column="courseware"/>
        <result property="speakers" column="speakers"/>
        <result property="applicationTime" column="application_time"/>
        <result property="source" column="source"/>
        <result property="flag" column="flag"/>
    </resultMap>

    <!--    查询条件-->
    <sql id="Where_List">
        <if test="meeting.code != null and meeting.code != ''">
            and m.code = #{meeting.code}
        </if>
        <if test="meeting.hospitalName != null and meeting.hospitalName != ''">
            and m.hospital_name like concat("%",#{meeting.hospitalName},"%")
        </if>
        <if test="meeting.startTime != null and meeting.startTime != ''">
            <![CDATA[ and date_format(m.meeting_time,'%Y-%m-%d') >= date_format(#{meeting.startTime},'%Y-%m-%d') ]]>
        </if>
        <if test="meeting.endTime != null and meeting.endTime != ''">
            <![CDATA[ and date_format(m.meeting_time,'%Y-%m-%d') <= date_format(#{meeting.endTime},'%Y-%m-%d') ]]>
        </if>
        <if test="meeting.flag != null and meeting.flag != ''">
            and m.flag = #{meeting.flag}
        </if>
    </sql>

    <!--    分页-->
    <select id="selectPageList" resultType="com.ksh.beam.system.entity.meeting.MeetingList">
        select m.* from meeting_list m
        <where>
            1 = 1
            <include refid="Where_List"/>
        </where>
        order by m.meeting_time desc
    </select>

    <!--    导出数据-->
    <select id="exportData" resultType="java.util.HashMap">
        select m.* from meeting_list m
        <where>
            1 = 1
            <include refid="Where_List"/>
        </where>
        order by m.meeting_time desc
    </select>
</mapper>